@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #1A5588;
  -webkit-font-smoothing:antialiased;
}

/* HEADINGS/PARAGRAF/LISTOR osv*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 2;
}

/* Styling */

.even {
    background-color: #F5F6F7;
}

.odd {
  background-color: #fff;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Backgrounds */
.home {
  background-image:url('../bilder/illustrator.png');
}

.team {
  background-image:url('../bilder/css.png');
}

.work {
  background-image:url('../bilder/js.png');
}

.webw {
  background-image:url('../bilder/webw.png');
}

.karta {
  background-image:url('../bilder/karta.png');
}

.jumbo {
  padding: 155px 50px 150px;
}

/* Content */
.navbar {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.75);
  margin-bottom: 0;
}

.navbar-brand {
}

.navbar-brand h1 {
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 6px;
  margin-top: 15px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand span {
  font-weight: 700;
}

.navbar-nav {
  margin-top: 20px;
}

.navbar-nav a {
  font-size: 1.6rem;
}

.navbar-inverse .navbar-nav > li >a {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-nav li {
  margin-left: 25px;
}


.navbar-inverse .navbar-toggle .icon-bar {
background-color: #37b1f9;
}

.main-section {
  padding: 50px 0;
}

.box-big,
.box-small {
  background: #000;
  color: #fff;
}

.box-big {
  padding: 50px 30px;
  margin: 0 auto 35px;
}

.box-small {
  padding: 30px 15px;
  margin-bottom: 35px;
}

.what-we-do {
  padding: 50px 0;
}

.main-footer {
  padding: 60px 0;
  background: white;
}

.main-footer h5,
.main-footer h5 span {
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #ddd;
  letter-spacing: 6px;
}

.main-footer h5 span {
  font-weight: 700;
}

.nav-pills {
  margin-top: 11px;
}

.nav-pills a {
  font-size: 1.5em;
  color: #999;
}

.nav-pills a:hover {
  color: #000;
}

.nav-pills li {
  margin-right: 25px;
  background: #ddd;
  border-radius: 6px;
}

.active {
  background: #ccc;
}

.tagline h2,
.tagline p {
  margin-bottom: -15px;
  -webkit-animation: fadein 3.4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3.4s; /* Firefox < 16 */
  -ms-animation: fadein 3.4s; /* Internet Explorer */
   -o-animation: fadein 3.4s; /* Opera < 12.1 */
  animation: fadein 5s;
}

.tagline h2 {
  font-size: 4.5rem;
  line-height: 1.6;
  font-weight: 400;
}

.tagline p {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.65);
}

.tagline {
  padding-bottom: 1.8%;
  margin-bottom: 1.8%;
  color: #fff;
}

.work-intro {
  padding: 40px 0 80px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 800px) {
  .tagline h2 {
    font-size: 5.5rem;
    line-height: 1.6;
    font-weight: 400;
  }
}
