@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  background-color: #1A5588;
  font-weight: 300;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
}

::-webkit-scrollbar{width:5px;height:5px;}
::-webkit-scrollbar-track{background:#222;}
::-webkit-scrollbar-thumb{background:#666;}



/* HEADINGS/PARAGRAF/LISTOR osv*/
h1,
h2,
h3,'
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}


/* BAKGRUNDSBILDER */
.home{background-image:url('../bilder/illustrator.png');}
.team{background-image:url('../bilder/css.png');}
.work{background-image:url('../bilder/js.png');}
.webw{background-image:url('../bilder/webw.png');}
.karta{background-image:url('../bilder/karta.png');}
.contact{background-image:url();}


/* INNEHÅLL */
.navbar {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.75);
  margin-bottom: 0;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.main-section {
  background: white;
  padding: 50px 0;
}

.box-big {
  padding: 50px 30px;
  background: #000;
  color: #fff;
  margin: 0 auto 35px;
}

.box-small {
  padding: 30px 15px;
  background: #000;
  color: #fff;
  margin-bottom: 35px;
}

.what-we-do {
  padding: 50px 0;
}

.main-footer {
  padding: 60px 0;
  background: white;
}


.team {
  padding: 180px 50px 150px;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}


.middle {
  padding-bottom: 1.8%;
  margin-bottom: 1.8%;
  color: #fff;
  -webkit-animation: fadein 3.4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3.4s; /* Firefox < 16 */
  -ms-animation: fadein 3.4s; /* Internet Explorer */
   -o-animation: fadein 3.4s; /* Opera < 12.1 */
  animation: fadein 3.4s;
}








@keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}
